In [5]:
#  necessary libraries
!pip install pandas sqlalchemy openpyxl pymysql

import pandas as pd
import os
from sqlalchemy import create_engine

#  sample CSV data
csv_data = pd.DataFrame({
    'Train Number': [12345, 67890, 13579],
    'Train Name': ['Rajdhani Express', 'Shatabdi Express', 'Duronto Express'],
    'Departure Time': ['06:00', '08:30', '22:15'],
    'Arrival Time': ['18:00', '14:00', '06:45'],
    'Source': ['Delhi', 'Mumbai', 'Kolkata'],
    'Destination': ['Mumbai', 'Chennai', 'Delhi']
})
csv_data.to_csv("train_schedule_zone1.csv", index=False)

#  sample Excel data
excel_data = pd.DataFrame({
    'Train Number': [24680, 11223, 44556],
    'Train Name': ['Garib Rath', 'Jan Shatabdi', 'Tejas Express'],
    'Departure Time': ['09:15', '11:45', '17:30'],
    'Arrival Time': ['21:30', '19:20', '23:50'],
    'Source': ['Bangalore', 'Pune', 'Hyderabad'],
    'Destination': ['Kolkata', 'Delhi', 'Mumbai']
})
excel_data.to_excel("train_schedule_zone2.xlsx", index=False)

#  sample SQL database
engine = create_engine("sqlite:///train_schedule.db")
sql_data = pd.DataFrame({
    'Train Number': [55678, 99887, 33445],
    'Train Name': ['Vande Bharat', 'Humsafar Express', 'Mahamana Express'],
    'Departure Time': ['05:45', '12:10', '19:55'],
    'Arrival Time': ['15:20', '22:40', '04:30'],
    'Source': ['Jaipur', 'Ahmedabad', 'Chennai'],
    'Destination': ['Lucknow', 'Bhopal', 'Varanasi']
})
sql_data.to_sql("train_schedule_zone3", con=engine, if_exists="replace", index=False)

# Function to read CSV files
def read_csv(file_path):
    return pd.read_csv(file_path)

# Function to read Excel files
def read_excel(file_path):
    return pd.read_excel(file_path)

# Function to read SQL database
def read_sql(db_connection_string, table_name):
    engine = create_engine(db_connection_string)
    return pd.read_sql(f"SELECT * FROM {table_name}", con=engine)

# Function to clean and standardize data
def clean_data(df):
    df.columns = df.columns.str.lower().str.replace(" ", "_")  # Standardize column names
    df.drop_duplicates(inplace=True)  # Remove duplicate entries
    df.dropna(inplace=True)  # Drop missing values
    if 'train_number' in df.columns:
        df['train_number'] = df['train_number'].astype(str).str.zfill(5)  # Standardize train number format
    return df

# Function to merge datasets
def merge_datasets(dfs):
    return pd.concat(dfs, ignore_index=True)

# Load Data
csv_data = read_csv("train_schedule_zone1.csv")
excel_data = read_excel("train_schedule_zone2.xlsx")
sql_data = read_sql("sqlite:///train_schedule.db", "train_schedule_zone3")

# Clean Data
csv_data = clean_data(csv_data)
excel_data = clean_data(excel_data)
sql_data = clean_data(sql_data)

# Merge Data
final_dataset = merge_datasets([csv_data, excel_data, sql_data])

# Save to CSV
final_dataset.to_csv("standardized_train_schedule.csv", index=False)

print("ETL pipeline executed successfully. Standardized train schedule saved.")

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.39)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: pymysql in /usr/local/lib/python3.11/dist-packages (1.1.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
ETL pipeline executed successfully. Standardized train schedule saved.